// 字体
$main-font-color: #303133; //主要字体文字
$routine-font-color: #606266; //常规文字，注释备注
$secondary-font-color: #909399; //次要文字，注释备注
$occupy-font-color: #C0C4CC; //占位文字
//字体大小
$h1: 28px;
$h2: 24px;
$h3: 18px;
$h4: 16px;
$h5: 14px;
$h6: 12px;
// 背景
$main-background-color: #f9f9f9;
$routine-background-color: #333333;
$black-background: #000000;
$Transparent-background: Transparent;
// 边框
$main-border-color: #DCDFE6;
$routine-border-color: #E4E7ED;
$secondary-border-color: #EBEEF5;
$occupy-border-color: #F2F6FC;
//间距
$main-spacing-div: 15px; //主要div间距
$routine-spacing-div: 5px; //小块div间距
//padding
$main-padding-spacing: 10px; //整体定位padding

